.inner {
  width: 2000px;
  z-index: 10;
}

.mid {
  width: 2300px;
  z-index: 100;
  background-color: transparent;
}
.front {
  z-index: 200;
  background-color: transparent;
  width: 2800px;
}
.maplegend {
  position: absolute;
  top: 100vh;
  transform: translate(0,-88%);
  width: 150px;
  -moz-box-shadow:0px 0px 25px 10px #222;
  box-shadow: 0px 0px 25px 10px #222;

}
.container {
  position: absolute;
  background-color: white;
  width: 2000px;
  left: 1000px;
  height: 100vh;
  display: flex;
  align-items: center;
  -moz-box-shadow:0px 0px 25px 10px #000;
  box-shadow: 0px 0px 25px 10px #000;
  padding-left: 10px;
}

.midTitle {
  z-index: 190;
  background-color: transparent;
  width: 2470px;
}
.title {
  position: absolute;
  width: 500px;
  letter-spacing: 1.9px;
  left: 1000px;
  padding-left: 30px;
  height: 30px;
  font-family: 'Raleway';
}
#label1 {
  position: absolute;
  width: 500px;
  letter-spacing: 1.9px;
  left: 1000px;
  padding-left: 20px;
  top: 88vh;
  font-size: 12px;
  height: 100vh;
  font-family: 'Raleway';
}
#label2 {
  position: absolute;
  width: 500px;
  letter-spacing: 1.9px;
  left: 1000px;
  padding-left: 210px;
  top: 88vh;
  font-size: 12px;
  height: 100vh;
  font-family: 'Raleway';
}
#needhelp {
cursor: pointer;
color: steelblue;
font-weight: 500;
padding-top: 10px;

}
#title2 {
  position: absolute;
  width: 300px;
  letter-spacing: 1.9px;
  left: 2220px;
  height: 30px;
  font-family: 'Raleway';
}
#scatterLegend {
  position: absolute;
  width: 300px;
  letter-spacing: 1.9px;
  padding-top: 60px;
  left: 2660px;
  height: 100px;
  font-family: 'Raleway';
}

#legimg {
  padding-right: 10px;
  padding-left: 4px;
  padding-bottom: 5px;
border:1px solid black;
}

.chart {
  float: left
}
.checkbox-grid {
  float: left;
  list-style: none;
  margin-left: -10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}
.checkbox-grid li{
  margin-bottom: 5px;
}


.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: #BFBCCB;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  box-shadow: -3px 3px 15px #888888;
  z-index: 10000000;
}

.graphEdge {
    pointer-events: none;
}
.boxdraw {
    background: rgba(56,135,190,0.1);
    border: 1px solid #3887be;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#thirdvis {
  position: absolute;
  background-color: white;
  width: 1000px;
  left: 1800px;
  height: 100vh;
  display: flex;
  align-items: center;
  -moz-box-shadow:0px 0px 25px 10px #000;

  box-shadow: 4px 0px 20px 10px #aaa;
}
